body
{
    font-family: "Tiny5", regular;
    .tiny5-regular {
        font-family: "Tiny5", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      background: rgb(23, 206, 84);
}

.header_div
{
  background: rgb(123, 81, 238);
  color: rgb(11, 146, 146);
}

.header_div p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(81, 49, 224);
  letter-spacing: 4px;
  font-size: 12px;
  font-weight: bold;
}

.main_div button {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;
  width: 150px;
  font-weight: bold;
  letter-spacing: 2px;
}

.copy_right_footer {
  position: fixed;
  color: rgb(130, 255, 213);
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: rgb(11, 146, 146);
  line-height: 3;
  text-align: center;
  text-shadow: 8px 8px 8px rgb(0, 0, 0);
}